015_NeuralNetworkFromScratch/
020_TensorIntro/
030_ModelingIntroduction/
045_Classification/
060_CNN_ImageClassification/
065_CNN_AudioClassification/
070_CNN_ObjectDetection/
075_ObjectDetection_Yolo7/
076_ObjectDetection_Yolo8/
100_CNN_StyleTransfer/
120_TransferLearning/
180_LSTM/
200_Autoencoders/
220_GAN/
300_Transformers/
310_PytorchLightning/
400_OpenAiChatGPT/
500_Miscellanious/
images/
annotations/
yolov7/
train/
val/
test/
*.pt
